In [19]:
# Random forest classifiers are a type of ensemble learning model that combines multiple smaller models into a more robust and accurate model.
# Random forest models use a number of weak learner algorithms (decision trees) and combine their output to make a final classification (or regression) decision
# Both output and feature selection of random forest models are easy to interpret, and they can easily handle outliers and nonlinear data.

# Why replace random forest with neural network?
# - Random forest models will only handle tabular data, so data such as images or natural language data cannot be used in a random forest without heavy modifications to the data
# - Deep learning model might be able to identify variability in a dataset that a random forest model could miss. However, a random forest model with a sufficient number of estimators and tree depth should be able to perform at a similar capacity to most deep learning models.

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

In [21]:
# Import our input dataset
loans_df = pd.read_csv('Resources/loan_status.csv')
loans_df

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36418,Fully_Paid,99999999,Short_Term,742.0,1190046.0,<_1_year,Rent,Other,11969.81,20.1,16.0,9,0,37392,134442.0,0.0,0.0
36419,Fully_Paid,44484,Short_Term,717.0,1152426.0,10+_years,Home_Mortgage,Other,6280.64,21.0,12.0,6,0,961932,0.0,0.0,0.0
36420,Fully_Paid,210584,Short_Term,719.0,783389.0,1_year,Home_Mortgage,Other,3727.61,17.4,18.0,6,0,456,259160.0,0.0,0.0
36421,Fully_Paid,99999999,Short_Term,732.0,1289416.0,1_year,Rent,Debt_Consolidation,13109.05,9.4,21.0,22,0,153045,509234.0,0.0,0.0
36422,Fully_Paid,103136,Short_Term,742.0,1150545.0,6_years,Rent,Debt_Consolidation,7315.57,18.8,18.0,12,1,109554,537548.0,1.0,0.0

In [22]:
# Data preprocessing for both models

# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [23]:
# Check to see if anything in Years_in_current_job could be bucketed
loans_df.Years_in_current_job.value_counts()

# Looking at the number of data points for each unique value, all of the categorical values have a substantial number of data points. 
# In this case, we have reason to leave the "Years_in_current_job" column alone because we don't want to bucket common values together and cause confusion in the model.
# only bucket if there's not a lot of data in a few columns that could be grouped in an "other" category or something like that

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [24]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names_out(loans_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [25]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(columns=loans_cat)
loans_df

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36418,99999999,742.0,1190046.0,11969.81,20.1,16.0,9,0,37392,134442.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36419,44484,717.0,1152426.0,6280.64,21.0,12.0,6,0,961932,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36420,210584,719.0,783389.0,3727.61,17.4,18.0,6,0,456,259160.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36421,99999999,732.0,1289416.0,13109.05,9.4,21.0,22,0,153045,509234.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
36422,103136,742.0,1150545.0,7315.57,18.8,18.0,12,1,109554,537548.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [26]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Create a random forest classifier. (Typically, 128 estimators is the largest number of estimators we would want to use in a model.)
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [28]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 27317 samples
Epoch 1/50
27317/27317 [==============================] - 2s 57us/sample - loss: 0.4373 - acc: 0.8247
Epoch 2/50
27317/27317 [==============================] - 1s 47us/sample - loss: 0.3878 - acc: 0.8490
Epoch 3/50
27317/27317 [==============================] - 1s 47us/sample - loss: 0.3830 - acc: 0.8494
Epoch 4/50
27317/27317 [==============================] - 1s 50us/sample - loss: 0.3806 - acc: 0.8492
Epoch 5/50
27317/27317 [==============================] - 1s 46us/sample - loss: 0.3790 - acc: 0.8488
Epoch 6/50
27317/27317 [==============================] - 1s 46us/sample - loss: 0.3780 - acc: 0.8493
Epoch 7/50
27317/27317 [==============================] - 3s 107us/sample - loss: 0.3772 - acc: 0.8493
Epoch 8/50
27317/27317 [==============================] - 2s 72us/sample - loss: 0.3764 - acc: 0.8493
Epoch 9/50
27317/27317 [==============================] - 2s 70us/sample - loss: 0.3757 - acc: 0.8496
Epoch 10/50
27317/27317 [==============================] - 2s 75us/sample - loss: 0.3750 - acc: 0.8495
Epoch 11/50
27317/27317 [==============================] - 2s 68us/sample - loss: 0.3748 - acc: 0.8493
Epoch 12/50
27317/27317 [==============================] - 2s 81us/sample - loss: 0.3740 - acc: 0.8498
Epoch 13/50
27317/27317 [==============================] - 2s 81us/sample - loss: 0.3732 - acc: 0.8495
Epoch 14/50
27317/27317 [==============================] - 2s 77us/sample - loss: 0.3729 - acc: 0.8497
Epoch 15/50
27317/27317 [==============================] - 2s 71us/sample - loss: 0.3724 - acc: 0.8500
Epoch 16/50
27317/27317 [==============================] - 2s 67us/sample - loss: 0.3722 - acc: 0.8497
Epoch 17/50
27317/27317 [==============================] - 2s 78us/sample - loss: 0.3715 - acc: 0.8497
Epoch 18/50
27317/27317 [==============================] - 2s 72us/sample - loss: 0.3713 - acc: 0.8498
Epoch 19/50
27317/27317 [==============================] - 2s 76us/sample - loss: 0.3705 - acc: 0.8500
Epoch 20/50
27317/27317 [==============================] - 2s 71us/sample - loss: 0.3704 - acc: 0.8499
Epoch 21/50
27317/27317 [==============================] - 2s 75us/sample - loss: 0.3701 - acc: 0.8503
Epoch 22/50
27317/27317 [==============================] - 2s 68us/sample - loss: 0.3696 - acc: 0.8502
Epoch 23/50
27317/27317 [==============================] - 2s 88us/sample - loss: 0.3693 - acc: 0.8503
Epoch 24/50
27317/27317 [==============================] - 2s 70us/sample - loss: 0.3691 - acc: 0.8497
Epoch 25/50
27317/27317 [==============================] - 2s 88us/sample - loss: 0.3687 - acc: 0.8500
Epoch 26/50
27317/27317 [==============================] - 2s 72us/sample - loss: 0.3686 - acc: 0.8498
Epoch 27/50
27317/27317 [==============================] - 2s 75us/sample - loss: 0.3680 - acc: 0.8506
Epoch 28/50
27317/27317 [==============================] - 2s 70us/sample - loss: 0.3673 - acc: 0.8507
Epoch 29/50
27317/27317 [==============================] - 3s 100us/sample - loss: 0.3675 - acc: 0.8505
Epoch 30/50
27317/27317 [==============================] - 2s 69us/sample - loss: 0.3671 - acc: 0.8509
Epoch 31/50
27317/27317 [==============================] - 2s 76us/sample - loss: 0.3666 - acc: 0.8511
Epoch 32/50
27317/27317 [==============================] - 2s 69us/sample - loss: 0.3666 - acc: 0.8501
Epoch 33/50
27317/27317 [==============================] - 2s 72us/sample - loss: 0.3665 - acc: 0.8505
Epoch 34/50
27317/27317 [==============================] - 2s 72us/sample - loss: 0.3660 - acc: 0.8506
Epoch 35/50
27317/27317 [==============================] - 2s 71us/sample - loss: 0.3651 - acc: 0.8510
Epoch 36/50
27317/27317 [==============================] - 2s 77us/sample - loss: 0.3651 - acc: 0.8513
Epoch 37/50
27317/27317 [==============================] - 2s 85us/sample - loss: 0.3653 - acc: 0.8509
Epoch 38/50
27317/27317 [==============================] - 2s 70us/sample - loss: 0.3647 - acc: 0.8513
Epoch 39/50
27317/27317 [==============================] - 2s 73us/sample - loss: 0.3639 - acc: 0.8516
Epoch 40/50
27317/27317 [==============================] - 2s 76us/sample - loss: 0.3645 - acc: 0.8519
Epoch 41/50
27317/27317 [==============================] - 2s 77us/sample - loss: 0.3638 - acc: 0.8519
Epoch 42/50
27317/27317 [==============================] - 2s 73us/sample - loss: 0.3634 - acc: 0.8518
Epoch 43/50
27317/27317 [==============================] - 2s 73us/sample - loss: 0.3630 - acc: 0.8520
Epoch 44/50
27317/27317 [==============================] - 3s 97us/sample - loss: 0.3627 - acc: 0.8516
Epoch 45/50
27317/27317 [==============================] - 2s 82us/sample - loss: 0.3625 - acc: 0.8520
Epoch 46/50
27317/27317 [==============================] - 2s 68us/sample - loss: 0.3627 - acc: 0.8515
Epoch 47/50
27317/27317 [==============================] - 2s 74us/sample - loss: 0.3622 - acc: 0.8512
Epoch 48/50
27317/27317 [==============================] - 2s 79us/sample - loss: 0.3618 - acc: 0.8520
Epoch 49/50
27317/27317 [==============================] - 2s 69us/sample - loss: 0.3615 - acc: 0.8523
Epoch 50/50
27317/27317 [==============================] - 2s 77us/sample - loss: 0.3618 - acc: 0.8524
9106/9106 - 1s - loss: 0.3899 - acc: 0.8449
Loss: 0.38991684586876646, Accuracy: 0.8449373841285706

In [ ]:
# Both accuracies are 84%. 
# Although their predictive performance was comparable, their implementation and training times were not
# - the random forest classifier was able to train on the large dataset and predict values in seconds
# - the deep learning model required a couple minutes to train on the tens of thousands of data points

# If data is tabular, random forests require less code and time. If data isn't tabular, you'll have to use deep learning